<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<!-- navbar -->
<%- include('layouts/navBar') -%>

<!-- home intro -->
<%- include('partials/home-intro') -%>

<!--main body elements-->
<main>
    <!-- first section -->
    <%- include('partials/home-section-1') -%>
    <!-- data menu items -->
    <%- include('data/home-menu') -%>
    <!-- subscription banner -->
    <%- include('partials/home-banner') -%>
    <!-- data image carousel -->
    <%- include('partials/home-section-2') -%>
    <!-- data blogs section -->
    <%- include('data/home-blogs') -%>
</main>

<!-- footer -->
<%- include('layouts/footer') -%>
<!-- script files -->
<%- include('layouts/scripts') -%>

</body>
</html>